{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="{{ url_for('changepassw') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="old password" placeholder="old password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new password" placeholder="new password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="repeat new password" placeholder="repeat new password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
